{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid about-containter">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                About us
            </h1>
            <br>
            <br>
            <h3>
                We are your safety. Protect is a security company that delivers product solutions 
                for you as a customer to be able to surf and work in IT-related issues in a secure way. 
                We are located in Sweden and are close at hand to meet you if you have any questions. 
                <br>
                <br>
                <br>

                So always feel free to contact us if you need to.
            </h3>
            <br>
            <h4>
                <a href="/home/templates/home/contact.html" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Contact us now</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}
