{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container about-containter">
            <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">About Us</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <p>
                        We are your safety. Protect is a security company that delivers product solutions 
                        for you as a customer to be able to surf and work in IT-related issues in a secure way. 
                        We are located in Sweden and are close at hand to meet you if you have any questions.
                    </p>
                    <p>
                        So always feel free to contact us if you need to.
                    </p>
                    <strong>If you want to know more about viruses and VPNs for computers, then we strongly recommend visiting this site:</strong>
                    <a href="https://en.wikipedia.org/wiki/Computer_virus" target="_blank" class="text-black"
                        aria-label="Visit this page to learn more about how you can stay safe when surf on your computer">X</a>
                    
                    <p>
                        <a href="{% url 'contact' %}" class="btn btn-black rounded-0 text-uppercase mt-3">
                            <span class="text-uppercase">Contact us now</span>
                        </a>
                    </p>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
