{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container d-none d-md-block">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container about-containter">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Download</h2>
                <hr> 
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <p>
                    <h3>Download free security for you and your family</h3> 
                </p>
                <p>
                    <h5>Try before you buy</h5> 
                </p>
                <p>
                    Your free trial lasts 30 days. We will remind you 7 days before your trial ends to see if you are satisfied with our product. At any time during your trial period, you may purchase a version of our product to obtain a valid license.
                </p>
                <p>
                    If you have already purchased a version of our product, click "Download" to get started with your security right away.
                </p>

                <a class="btn btn-outline-black rounded-0 text-uppercase mt-3" href="{% url 'download_file' 'protect_install_trial.zip' %}">
                    <span class="icon">
                        <i class="fas fa-arrow-down"></i>
                    </span>
                    <span class="text-uppercase">Download 30 days trial</span>
                </a>

                <a class="btn btn-black rounded-0 text-uppercase mt-3" href="{% url 'download_file' 'protect_install.zip' %}">
                    <span class="icon">
                        <i class="fas fa-arrow-down"></i>
                    </span>
                    <span class="text-uppercase">Download</span>
                </a>
                <p class="small mt-1 mb-0 text-muted">
                    None of the downloads above are not real installation files
                </p>
            </div>
        </div>
    </div>

{% endblock %}
