{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--<div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>-->
{% endblock %}

{% block content %}
<div class="container-fluid home-containter">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-white">
                Security to meet your data problems
            </h1>
            <div class="my-4">
                <h4>
                    <a href="{% url 'products'%}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">See our products</a>
                </h4>
            </div>
            <div class="my-3">
                <span>
                    <a href="{% url 'validate'%}" class="display-5 text-white">Allready have a license? Click here to heck if its valid to protect you</a>
                </span>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="small mt-1 mb-0">
                    @ 2023 Protect
                </p>
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="https://www.privacypolicygenerator.info/live.php?token=c9IPgeT0y1Wth0Q02xItyNfOspPRTqwU" title="Privacy Policy" target="_blank">Privacy Policy</a>
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Social links-->
                <section class="contact-section">
                    <div class="social d-flex justify-content-end justify-content-md-end">
                        <a class="mt-2 mx-2 text-muted" href="https://twitter.com/?lang=en" rel="noopener noreferrer nofollow"
                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="mt-2 mx-2 text-muted" href="https://en-gb.facebook.com/" rel="noopener noreferrer nofollow"
                            target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="mt-2 mx-2 text-muted" href="https://github.com/saram88/Protect" rel="noopener noreferrer nofollow"
                            target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
                    </div>
                </section>
            </div>
        </div>
    </footer>
</div>
{% endblock %}