{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--<div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>-->
{% endblock %}

{% block content %}
<div class="container-fluid home-containter">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-white">
                Security to meet<br>your data problems
            </h1>
            <div class="my-4">
                <h4>
                    <a href="{% url 'products'%}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">See our products</a>
                </h4>
            </div>
            <div class="my-3">
                <span>
                    <a href="{% url 'validate'%}" class="display-5 text-white">Allready have a license? Click here to heck if its valid to protect you</a>
                </span>
            </div>
        </div>
    </div>


    <div class="footer">
        <div>
            <a class="about m-2" href="/about/">About us</a>
            <a class="text-muted" href="https://www.privacypolicygenerator.info/live.php?token=c9IPgeT0y1Wth0Q02xItyNfOspPRTqwU" title="Privacy Policy" target="_blank">Privacy Policy</a>            </a>
        </div>
        <!-- socials -->
        <div class="social-networks">
            <a class="m-2" rel="noopener" href="https://www.facebook.com/profile.php?id=61550857243246" role="button" target="_blank" aria-label="link to facebook"><i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <!-- Copyright -->
        <div>
            <p class="copyright">Copyright
                <span>©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>2023
                |All rights reserved |For educational purposes only
            </p>
        </div>
    </div>
</div>
{% endblock %}