{% extends 'base.html'%}
{% block title %}Protect | 500 Server Error{% endblock %}

{% load static %}

{% block content %}

<!-- 404 ERROR -->
<div class="container">
    <div class="row">
        <div class="col-12 page-header">
            <h2 class="text-uppercase">500 Error</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="justify-content-center error">
                <h4>Server Error</h4>
                <br>
                <p>Sorry! Protect can't handle this request at the moment. Please return to the home page.</p>
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">Home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}