<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link mr-4" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-4" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Products
            </a>
            <div class="dropdown-menu dropdown-main-menu border-1">
                <a href="{% url 'products' %}?category=antivirus" class="dropdown-item">Antivirus</a>
                <a href="{% url 'products' %}?category=vpn" class="dropdown-item">VPN</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-4" href="#" id="download-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
            </a>
            <div class="dropdown-menu dropdown-main-menu border-1">
                <a href="{% url 'download' %}" class="dropdown-item">Download</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-4" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us
            </a>
            <div class="dropdown-menu dropdown-main-menu border-1">
                <a href="{% url 'about' %}" class="dropdown-item">Get to know us</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact us</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="{% url 'validate' %}" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Existing Customer
            </a>
            <div class="dropdown-menu dropdown-main-menu border-1" aria-labelledby="specials-link">
                <a href="{% url 'validate' %}" class="dropdown-item">Validate your license</a>
            </div>
        </li>
    </ul>
</div>