{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="d-block d-md-none">
            <div class="row">
                <div class="col">
                    <h6 class="logo-font mb-4">License information for order</h6>
                    <h6 class="logo-font mb-4"><b>{{ order.order_number }}</b></h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col">
                            <h6><strong>Product</strong></h6>
                            <h6>{{ item.product.name }}, {{ item.units }} unit(s) for {{ item.years }} year(s) </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6><strong>License Key</strong></h6>
                            <h6 class="text-bold-green">{{ item.license_key }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6><strong>Valid to</strong></h6>
                            <h6>{{ item.enddate|date:'Y-m-d' }}</h6>
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-none d-md-block"> 
            <div class="row">
                <div class="col">
                    <h2 class="logo-font mb-4">License information for order <b>{{ order.order_number }}</b></h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th class="d-none d-lg-table-cell">Units</th>
                                    <th class="d-none d-lg-table-cell">Years</th>
                                    <th>License Key</th>
                                    <th>Valid to</th>
                                </tr>
                            </thead>       
                            <tbody>
                                {% for item in order.lineitems.all %}
                                    <td>{{ item.product.name }}</td>
                                    <td class="d-none d-lg-table-cell">{{ item.units }}</td>
                                    <td class="d-none d-lg-table-cell">{{ item.years }}</td>
                                    <td class="text-bold-green">{{ item.license_key }}</td>
                                    <td>{{ item.enddate|date:'Y-m-d' }}</td>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7">
                {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-outline-black rounded-0">
                    <span class="text-uppercase">Back to profile</span>
                </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}
